{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
<section class="header_text sub">
<img class="pageBanner" src="{% static 'themes/images/pageBanner.png' %}" alt="New products" >
	<h4><span>Shopping Cart</span></h4>
</section>
<section class="main-content">
	<div class="row">
		<div class="span9">
			<h4 class="title"><span class="text"><strong>Your</strong> Orders</span></h4>
			{% if user.order_set.all %}
			<table class="table table-striped">
				<thead>
					<tr>
						<th>訂單編號</th>
						<th>日期</th>
						<th>總價</th>
						<th>付款</th>
						<th>配送狀態</th>
						<th>退貨</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				{% for the_order in user.order_set.all %}
					<tr>
						<td style="width:100px">
						{{ the_order.order_no }}
						</td>
						<td>
						{{ the_order.datetime_create }}
						</td>
						<td>
						${{ the_order.total_amount|intcomma:False }}
						</td>
						<td>
						{% if the_order.has_succeed %}
							<p style="color: green;">已付款</p>
						{% else %}
							<p style="color: red;">未付款</p>
							<form action="{% url 'order:pay_from_index'%}" method="POST">
								{% csrf_token %}
								<input name="order_id" type="hidden" value="{{ the_order.id }}">
								<button type="submit">前往付款</button>
							</form>
						{% endif %}
						</td>
						<td>
							未出貨
						</td>
						<td>
							不可退貨
						</td>
						<td>
						{% if not the_order.has_succeed %}
							<form action="{% url 'order:cancel'%}" method="POST">
								{% csrf_token %}
								<input name="order_id" type="hidden" value="{{ the_order.id }}">
								<button type="submit">取消訂單</button>
							</form>
						{% endif %}
						</td>
					</tr>
					{% if the_order.get_deserialized_cart %}
					<tr>
						<td colspan="7">
							<table>
								<tr>
									<th>
										商品
									</th>
									<th>
										單價
									</th>
									<th>
										數量
									</th>
								</tr>
							{% for cartitem in the_order.get_deserialized_cart %}
								<tr>
									<td>
										{{ cartitem.temp_title }}
									</td>
									<td>
										{{ cartitem.temp_price }}
									</td>
									<td>
										{{ cartitem.quantity }}
									</td>
								</tr>
							{% endfor %}
							</table>
						</td>
					</tr>
					{% endif %}
				{% endfor %}
				</tbody>
			</table>
			<p color="red">
				此交易為測試交易<br/>
				信用卡號請填4311-9522-2222-2222<br/>
				有效月年請填未來某月某年(例:12 24)<br/>
				安全碼請填222<br/>
				底下的「立即付款 Pay now」按鈕請按兩次。
			</p>
			{% else %}
			<strong>尚無訂單，快去選購！</strong>
			{% endif %}
		</div>
		<div class="span3 col">
		</div>
	</div>
</section>
{% endblock %}