{% extends "base.html" %}
{% load static %}
{% block content %}
<section  class="homepage-slider" id="home-slider">
	<div class="flexslider">
		<ul class="slides">
			<li>
				<img src="{% static 'themes/images/carousel/banner-1.jpg' %}" alt="" />
			</li>
			<li>
				<img src="{% static 'themes/images/carousel/banner-2.jpg' %}" alt="" />
				<div class="intro">
					<h1>Mid season sale</h1>
					<p><span>Up to 50% Off</span></p>
					<p><span>On selected items online and in stores</span></p>
				</div>
			</li>
		</ul>
	</div>
</section>
<section class="header_text">
	這裡賣一些我的私人用品
	<br/>可以試著加入購物車並且結帳，不過實際購買還是親洽本人。
</section>
<section class="main-content">
	<div class="row">
		<div class="span12">
		</div>
	</div>
</section>
{% endblock %}