{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="header_text sub">
	<img class="pageBanner" src="{% static 'themes/images/pageBanner.png' %}" alt="New products" >
	<h4><span>關於作者</span></h4>
</section>
<section class="main-content">
	<div class="row">
		<div class="span5">
			<div>
				<img class="" src="{% static 'me_pic.jpg' %}" alt="大峽谷" >
			</div>
		</div>
		<div class="span7">
			<h4>黃冠泓</h4>
			<h5>目前以成為「大家公認很厲害的Programmer」為目標前進中。</h5>
			<h5>喜愛貓狗，偶爾參與動物志工活動，同時也愛PC零件，尤其是有RGB的。</h5>
			<h5>其他興趣有電鍋料理、游泳、meme...等。</h5>
			<br/>
			<h5>認為最有價值的東西是know-how，所以喜歡收集各種know-how，不管是程式、系統架設，還是飲食、健康知識、生活妙招等等，都很喜歡。</h5>
			<h5>也希望能夠跟你交流交流</h5>
		</div>
	</div>
</section>
{% endblock %}