{% extends "base.html" %}
{% load static %}
{% block content %}
<section  class="homepage-slider" id="home-slider">
	<div class="flexslider">
		<ul class="slides">
			<li>
				<img src="{% static 'themes/images/carousel/banner-1.gif' %}" alt="" />
				<div class="intro">
					<h1>閃亮PC套組</h1>
					<p><span>天價出售中</span></p>
					<p><span>請火速至賣場選購</span></p>
				</div>
			</li>
			<li>
				<img src="{% static 'themes/images/carousel/banner-2.jpg' %}" alt="" />
				<div class="intro">
					<h1>私密小物出清</h1>
					<p><span>只有這裡才有的超❤級❤好❤康</span></p>
				</div>
			</li>
		</ul>
	</div>
</section>
<section class="header_text">
	這裡賣一些我的私人用品
	<br/>可以試著加入購物車並且結帳，不過實際購買還是親洽本人。
</section>
<section class="main-content">
	<div class="row">
		<div class="span12">
			<div class="row">
				<div class="span12">
					<h4 class="title">
						<span class="pull-left"><span class="text"><span class="line">Feature <strong>Products</strong></span></span></span>
						<span class="pull-right">
							<a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
						</span>
					</h4>
					<div id="myCarousel" class="myCarousel carousel slide">
						<div class="carousel-inner">
							<div class="active item">
								<ul class="thumbnails">
								{% for product in feature_products|slice:":4" %}
									<li class="span3">
										<div class="product-box">
											<span class="sale_tag"></span>
											<p><a href="{% url 'products:detail' product.id %}"><img src="{{ product.image_set.first.file.url }}" alt="" /></a></p>
											<a href="{% url 'products:detail' product.id %}" class="title">{{ product.title }}</a><br/>
											<a href="{% url 'products:detail' product.id %}" class="category">{{ product.cat }}</a>
											<p class="price">${{ product.price }}</p>
										</div>
									</li>
								{% endfor %}
								</ul>
							</div>
							<div class="item">
								<ul class="thumbnails">
								{% for product in feature_products|slice:"4:8" %}
									<li class="span3">
										<div class="product-box">
											<p><a href="{% url 'products:detail' product.id %}"><img src="{{ product.image_set.first.file.url }}" alt="" /></a></p>
											<a href="{% url 'products:detail' product.id %}" class="title">{{ product.title }}</a><br/>
											<a href="{% url 'products:detail' product.id %}" class="category">{{ product.cat }}</a>
											<p class="price">${{ product.price }}</p>
										</div>
									</li>
								{% endfor %}
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br/>
			<div class="row">
				<div class="span12">
					<h4 class="title">
						<span class="pull-left"><span class="text"><span class="line">Latest <strong>Products</strong></span></span></span>
						<span class="pull-right">
							<a class="left button" href="#myCarousel-2" data-slide="prev"></a><a class="right button" href="#myCarousel-2" data-slide="next"></a>
						</span>
					</h4>
					<div id="myCarousel-2" class="myCarousel carousel slide">
						<div class="carousel-inner">
							<div class="active item">
								<ul class="thumbnails">
								{% for product in feature_products|slice:":4" %}
									<li class="span3">
										<div class="product-box">
											<span class="sale_tag"></span>
											<p><a href="{% url 'products:detail' product.id %}"><img src="{{ product.image_set.first.file.url }}" alt="" /></a></p>
											<a href="{% url 'products:detail' product.id %}" class="title">{{ product.title }}</a><br/>
											<a href="{% url 'products:detail' product.id %}" class="category">{{ product.cat }}</a>
											<p class="price">${{ product.price }}</p>
										</div>
									</li>
								{% endfor %}
								</ul>
							</div>
							<div class="item">
								<ul class="thumbnails">
								{% for product in feature_products|slice:"4:8" %}
									<li class="span3">
										<div class="product-box">
											<p><a href="{% url 'products:detail' product.id %}"><img src="{{ product.image_set.first.file.url }}" alt="" /></a></p>
											<a href="{% url 'products:detail' product.id %}" class="title">{{ product.title }}</a><br/>
											<a href="{% url 'products:detail' product.id %}" class="category">{{ product.cat }}</a>
											<p class="price">${{ product.price }}</p>
										</div>
									</li>
								{% endfor %}
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row feature_box">
				<div class="span4">
					<div class="service">
						<div class="responsive">
							<img src="{% static 'themes/images/feature_img_2.png' %}" alt="" />
							<h4>真心 <strong>實用</strong></h4>
							<p>這邊賣的都是我實際使用過的東西，功能絕對正常，不用擔心商品損壞、無法使用。</p>
						</div>
					</div>
				</div>
				<div class="span4">
					<div class="service">
						<div class="customize">
							<img src="{% static 'themes/images/feature_img_1.png' %}" alt="" />
							<h4>佛心 <strong>免運</strong></h4>
							<p>帳戶匯進我的戶頭以後，我會親自把商品送到，不需要負擔運費。</p>
						</div>
					</div>
				</div>
				<div class="span4">
					<div class="service">
						<div class="support">
							<img src="{% static 'themes/images/feature_img_3.png' %}" alt="" />
							<h4>24/7 LIVE <strong>SUPPORT</strong></h4>
							<p>隨時可以來信10sb4c8763@gmail.com，或是加入我的其他社群軟體帳號與我聯絡。</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}